{% extends 'MuseoBackendBundle::template.html.twig' %}
{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('backend_sala') }}">Salas</a><div class="breadcrumb_divider">|</div><a class="current">Edit</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
    <h1>Sala edit</h1>

    <form class="form-horizontal well" action="{{ path('backend_sala_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="Edit" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>

</ul>
{% endblock backend_content%}
