{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a class="current">Salas</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
    <h1>Sala list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_sala_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    <a href="{{ path('backend_sala_show', { 'id': entity.id }) }}" title="show"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('backend_sala_edit', { 'id': entity.id }) }}" title="edit"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock backend_content %}
