{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('backend_sala') }}">Salas</a><div class="breadcrumb_divider">|</div><a class="current">Create</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
    <h1>Sala creation</h1>

    <form class="form-horizontal well" action="{{ path('backend_sala_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
		    <label class="control-label required" for="museo_backendbundle_salatype_audio_es">Archivo Español</label>
		    <div class="controls">
		    	<span id="spanButtonPlaceHolder_es"></span>
		    	<div class="fieldset flash" id="fsUploadProgress_es">
				</div>
				<div id="divStatus_es"></div>
		        <input type="hidden" id="audio_es" name="audio_es" required="required" maxlength="128">
		        <span class="help-inline"></span>
		    </div>
		</div>
		 <div class="control-group">
		    <label class="control-label required" for="museo_backendbundle_salatype_audio_en">Archivo Ingles</label>
		    <div class="controls">
		    	<span id="spanButtonPlaceHolder_en"></span>
		    	<div class="fieldset flash" id="fsUploadProgress_en">
				</div>
				<div id="divStatus_en"></div>
		        <input type="hidden" id="audio_en" name="audio_en" required="required" maxlength="128">
		        <span class="help-inline"></span>
		    </div>
		</div>

        <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>


<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/swfupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/swfupload.queue.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/fileprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/handlers.js') }}"></script>

<script type="text/javascript">

		//Configuracion del plugin para subir archivos a los elementos.
		var swfu_es;
		var swfu_en;

		window.onload = function() {
			var settings_en = {
				flash_url : "{{ asset('bundles/museo/js/SWFupload/swfupload.swf') }}",
				upload_url: "{{ path('backend_sala_upload_audio') }}",
				file_size_limit : "100 MB",
				file_types : "*.MP3;*.mp3;",
				file_types_description : "Mp3 files only",
				file_upload_limit : 100,
				file_queue_limit : 0,
				custom_settings : {
					progressTarget : "fsUploadProgress_en",
					cancelButtonId : "btnCancel"
				},
				upload_path: "/bundles/museo/images/salas/temp/",
				//upload_path: "{{ asset('bundles/museo/images/salas/temp/') }}",
				// Button settings
				button_image_url: "images/TestImageNoText_65x29.png",
				button_width: "65",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder_en",
				button_text: '<span class="theFont">UpLoad</span>',
				button_text_style: ".theFont { font-size: 12; }",
				button_text_left_padding: 12,
				button_text_top_padding: 3,
				
				// The event handler functions are defined in handlers.js
				file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_start_handler : uploadStart,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadCompleteLocal,
				queue_complete_handler : queueComplete	// Queue plugin event
			};

			var settings_es = {
				flash_url : "{{ asset('bundles/museo/js/SWFupload/swfupload.swf') }}",
				upload_url: "{{ path('backend_sala_upload_audio') }}",
				file_size_limit : "100 MB",
				file_types : "*.MP3;*.mp3;",
				file_types_description : "Mp3 files only",
				file_upload_limit : 100,
				file_queue_limit : 0,
				custom_settings : {
					progressTarget : "fsUploadProgress_es",
					cancelButtonId : "btnCancel"
				},
				upload_path: "/bundles/museo/images/salas/temp/",
				//upload_path: "{{ asset('bundles/museo/images/salas/temp/') }}",
				// Button settings
				button_image_url: "images/TestImageNoText_65x29.png",
				button_width: "65",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder_es",
				button_text: '<span class="theFont">UpLoad</span>',
				button_text_style: ".theFont { font-size: 12; }",
				button_text_left_padding: 12,
				button_text_top_padding: 3,
				
				// The event handler functions are defined in handlers.js
				file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_start_handler : uploadStart,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadCompleteLocal,
				queue_complete_handler : queueComplete	// Queue plugin event
			};

			swfu_es = new SWFUpload(settings_es);
			swfu_en = new SWFUpload(settings_en);
	     };



function uploadCompleteLocal(file) {
   
	if (this.getStats().files_queued === 0) {
		//document.getElementById(this.customSettings.cancelButtonId).disabled = true;
	}
  
   var placeHolder =this.settings.button_placeholder_id;
   var lenguaje = placeHolder.replace('spanButtonPlaceHolder_','');
   var status = document.getElementById("divStatus_"+lenguaje);

   var separator =(file.name).split(".");
   var extension = separator[1];
    extension = extension.toUpperCase();
    
    var upload_path = this.settings.upload_path;
    
    
    if (( extension == 'JPG') || (extension == 'JPEG')){
   		//Creacion de tag de imagenes
	   var elem = document.createElement("img");
	   elem.setAttribute("id", "contenido");
	   elem.setAttribute("src", upload_path + file.name);
	   elem.setAttribute("height", "120");
	   elem.setAttribute("width", "120");
	   elem.setAttribute("alt", "Flower");
	   $(status).html(elem);
   
    }
    else {
        if ( extension == 'MP4'){
      		//Crear tag de videos de mp4
            var mv = document.createElement("video");
            var nombre = upload_path + file.name; 
            mv.setAttribute("id", "contenido");
            mv.controls = true;
            mv.setAttribute("src", "uploads/" + file.name);
            mv.setAttribute("type", "video/mp4");
          	$(status).html(mv);
        
        }else{
        
            if ( extension == 'MP3'){

	          	//crear tag de audio mp3.
	            var mv = document.createElement("audio");
	            var br = document.createElement("br");
	            var nombre = upload_path + file.name; 
	            mv.setAttribute("id", "contenido");
	            mv.controls = true;
	            mv.setAttribute("src", nombre);
	            mv.setAttribute("type", "audio/mp3");
	            $(status).html(mv);
            }
        }
   }

   //incluyo el nombre del archivo en el input oculto
   document.getElementById("audio_"+lenguaje).value = file.name;
}
</script>
{% endblock backend_content %}
