{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('backend_sala') }}">Salas</a><div class="breadcrumb_divider">|</div><a class="current">Show</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('backend_sala_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a id="delete_action_link" class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> Delete</a>
	</div>
	<h1>Sala</h1>
    <table class="detail-view table table-condensed">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Archivo Español</th>
                <td><audio controls="" src="{{ entity.getImagesFolderRelative() }}/audio_es.mp3" type="audio/mp3"></audio></td>
            </tr>
            <tr>
                <th>Archivo Ingles</th>
                <td><audio controls="" src="{{ entity.getImagesFolderRelative() }}/audio_en.mp3" type="audio/mp3"></audio></td>
            </tr>
        </tbody>
    </table>

    <div id="delete_action_form" title="Delete Sala">
		<p>Esta seguro que desea eliminar la sala {{ entity.name }}?</p>
   		<form id="delete_form" action="{{ path('backend_sala_delete', { 'id': entity.id }) }}" method="post">
       		<input type="hidden" name="_method" value="DELETE" />
          	{{ form_widget(delete_form) }}
   		</form>
	</div>

<script type="text/javascript">
	$( "#delete_action_form" ).dialog({
	    autoOpen: false,
	    width: 500,
	    modal: true,
	    buttons: {
	      "Delete": function() {
	        $("#delete_form").submit();
	      },
	      Cancel: function() {
	        $( this ).dialog( "close" );
	      }
	    }
	  });

	$( "#delete_action_link" ).click(function() {
  		$( "#delete_action_form" ).dialog( "open" );
  		return false;  		
	});
</script>
{% endblock backend_content%}
