{% extends 'MuseoFrontendBundle::template.html.twig' %}

{% block frontend_content %}
<p>

El Museo General de La Plata fue creado por un decreto del Gobierno de la provincia de Buenos Aires el 19 de septiembre de 1884, en base a un proyecto del coleccionista Francisco Pascasio Moreno (1852-1919) quien se desempe&ntilde;&oacute; como Director hasta 1906. Las primeras colecciones provinieron del Museo Antropol&oacute;gico de Buenos Aires creado en 1877, con patrimonio donado por el propio Moreno.<br/>

Dependiente del Ministerio de Obras P&uacute;blicas provincial, abri&oacute; sus puertas al p&uacute;blico en 1888. En sus primeros a&ntilde;os, los objetivos de la Instituci&oacute;n estuvieron ligados, por un lado, al montaje de exhibiciones de historia natural, antropolog&iacute;a, arqueolog&iacute;a y bellas artes para contribuir a la educaci&oacute;n general de los habitantes de la provincia. Por otro lado, al desarrollo de expediciones en el interior del pa&iacute;s, con el doble prop&oacute;sito de contar con colecciones de estudio e identificar recursos naturales posibles de explotaci&oacute;n econ&oacute;mica por parte del Estado y los particulares.<br/>

Hacia mediados de la d&eacute;cada de 1890, con el apoyo financiero del Ministerio de Relaciones Exteriores, la Instituci&oacute;n se comprometi&oacute; con la cuesti&oacute;n de l&iacute;mites con Chile, poniendo a disposici&oacute;n del Gobierno Nacional los recursos humanos y materiales para realizar expediciones topogr&aacute;ficas a lo largo de la Cordillera de los Andes.<br/> 

En ese entonces se crearon tambi&eacute;n las cinco secciones principales del Museo: Antropolog&iacute;a, Geolog&iacute;a, Zoolog&iacute;a, Paleontolog&iacute;a y Bot&aacute;nica. Estuvieron a cargo de estudiosos extranjeros, y ten&iacute;an como funci&oacute;n clasificar las colecciones para exhibici&oacute;n y estudio, realizar expediciones y publicar trabajos cient&iacute;ficos en la Revista y los Anales del Museo de La Plata, creados en 1890. <br/>

En 1906, el Museo, dirigido por Samuel Lafone Quevedo (1835-1920), pas&oacute; a depender administrativamente de la Universidad Nacional de La Plata, agregando a las funciones originales de exhibici&oacute;n p&uacute;blica e investigaci&oacute;n, la de formaci&oacute;n acad&eacute;mica, bajo la denominaci&oacute;n general de Instituto del Museo-Facultad de Ciencias Naturales. <br/>

Desde ese entonces, el Museo y la Facultad funcionaron de manera imbricada compartiendo espacios dentro del edificio inaugurado en 1888, dedicados a la investigaci&oacute;n o a la docencia. All&iacute; funcionaba la Escuela de Ciencias Naturales (1912) que comprend&iacute;a a las de Ciencias Geol&oacute;gicas, Ciencias Biol&oacute;gicas, Ciencias Antropol&oacute;gicas, Ciencias Geogr&aacute;ficas, Qu&iacute;mica y Escuela Anexa de Dibujo. Las tres &uacute;ltimas, fueron separadas de la Instituci&oacute;n hacia comienzos de la d&eacute;cada de 1920, con la gesti&oacute;n de Luis Mar&iacute;a Torres (1878-1937), permaneciendo las otras bajo la denominaci&oacute;n conjunta de Escuela Superior de Ciencias Naturales (1932). Se estableci&oacute; al mismo tiempo, la reorganizaci&oacute;n interna de la instituci&oacute;n basada en Departamentos Cient&iacute;ficos. <br/>

En sus inicios, en 1906, la ense&ntilde;anza universitaria adopt&oacute; el modelo general de naturalista, mediante la elaboraci&oacute;n de programas de estudio destinados a proporcionar a los alumnos formaci&oacute;n b&aacute;sica en todos los campos de las ciencias naturales. El plan de estudios estaba dividido en 15 materias, que eventualmente aumentaron a 20, de cuatro a&ntilde;os de duraci&oacute;n, m&aacute;s un a&ntilde;o de especializaci&oacute;n mediante la realizac&oacute;n de la Tesis Doctoral en una de las cuatro orientaciones previstas como Antropolog&iacute;a, Bot&aacute;nica, Geolog&iacute;a y Zoolog&iacute;a, confiri&eacute;ndose un solo t&iacute;tulo, el de Doctor en Ciencias Naturales. <br/>
 
Durante las tres primeras d&eacute;cadas, la inscripci&oacute;n de alumnos fue muy baja. Entre los doctorados prevalec&iacute;an los de Ciencias Biol&oacute;gicas, fundamentalmente Zoolog&iacute;a y Bot&aacute;nica, situaci&oacute;n que se revirti&oacute; en Geolog&iacute;a, desde comienzos de la d&eacute;cada de 1940, con el sistema de becas a estudiantes instituido por YPF.  La carrera de Ciencias Naturales se dividi&oacute; a partir de ese momento en Ciencias Geol&oacute;gicas y Ciencias Biol&oacute;gicas, cre&aacute;ndose posteriormente el t&iacute;tulo de Licenciado en las &aacute;reas de Biolog&iacute;a, Geolog&iacute;a y Antropolog&iacute;a. El 19 de julio de 1949, por un decreto del Poder Ejecutivo Nacional, el Instituto del Museo-Facultad de Ciencias Naturales con su estructura de Escuela, se transform&oacute; finalmente en la Facultad de Ciencias Naturales y Museo.<br/>

En el caso de las actividades ligadas con el Museo, durante la d&eacute;cada de 1920 se retom&oacute; el plan fundacional de las exploraciones cient&iacute;ficas por el interior del pa&iacute;s y se continu&oacute; con el env&iacute;o de colecciones duplicadas de Ciencias Naturales a los museos escolares. Se moderniz&oacute; el edificio, laboratorios, dep&oacute;sitos, salas y exhibiciones, edit&aacute;ndose por primera vez una Gu&iacute;a para visitar el Museo de La Plata (1927). Tambi&eacute;n se construy&oacute; la biblioteca en el lugar que a&uacute;n ocupa. Se adquirieron importantes colecciones, como la serie arqueol&oacute;gica del Noroeste que perteneciera a Benjam&iacute;n Muniz Barreto (1876-1933).<br/>

Las mejoras edilicias y la creaci&oacute;n de nuevos salones de exhibici&oacute;n continuaron durante la gesti&oacute;n de Joaqu&iacute;n Frenguelli (1883-1958), que se extendi&oacute; en el per&iacute;odo 1934-1946. Se inici&oacute; posteriormente, en l&iacute;neas generales, la etapa de los Directores-Decanos de la Facultad de Ciencias Naturales y Museo, caracterizada por gestiones breves marcadas por sucesivas intervenciones, en sinton&iacute;a con los recurrentes cambios en el contexto sociopol&iacute;tico del pa&iacute;s. <br/>

Hacia 1948, los Departamentos Cient&iacute;ficos fueron reorganizados internamente con el nombre de Divisiones, agreg&aacute;ndose a la estructura Institucional en las d&eacute;cadas siguientes numerosos Centros, Institutos y Laboratorios de investigaci&oacute;n de la Facultad de Ciencias Naturales y Museo, que contin&uacute;an funcionando hasta la actualidad. En esos a&ntilde;os se crearon tambi&eacute;n nuevas orientaciones en la carrera, como la de Geoqu&iacute;mica y Ecolog&iacute;a, y otras se dividieron en especialidades, como la de Paleontolog&iacute;a en los campos de Vertebrados e Invertebrados, y la de Antropolog&iacute;a, en los campos de Arqueolog&iacute;a, Antropolog&iacute;a Cultural y Antropolog&iacute;a Biol&oacute;gica. <br/>

Finalmente, en 1994 la Facultad de Ciencias Naturales cont&oacute; con un edificio propio, especialmente concebido para el desarrollo de las actividades de docencia, concentrando las C&aacute;tedras que hasta ese entonces ten&iacute;an su sede en el edificio del Museo.

- See more at: http://www.museo.fcnym.unlp.edu.ar/historia#sthash.sf0xkL9o.dpuf</p>
{% endblock frontend_content %}