{% extends 'MuseoFrontendBundle::template.html.twig' %}

{% block frontend_content %}
  

 <div class="sala_contenedor ">

        <div id="featured">
         
          
             <div> <iframe width="950" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=La+Plata,+Buenos+Aires,+Argentina&amp;aq=0&amp;oq=la+plata&amp;sll=37.416881,-122.025616&amp;sspn=0.010362,0.021136&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=La+Plata,+Buenos+Aires,+Argentina&amp;ll=-34.928164,-57.932625&amp;spn=0.126666,0.308647&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=La+Plata,+Buenos+Aires,+Argentina&amp;aq=0&amp;oq=la+plata&amp;sll=37.416881,-122.025616&amp;sspn=0.010362,0.021136&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=La+Plata,+Buenos+Aires,+Argentina&amp;ll=-34.928164,-57.932625&amp;spn=0.126666,0.308647&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa m&aacutes grande</a></small></div>
            
        </div>
       
      </div>
      
       <style>
    
    #sala_contenedor{
    
      width:100%;
      height:100%;
      
      
     
    }
    
      #sala{
    
    
      
     
    }
    

    
    </style>
      
{% endblock frontend_content %}