<h1>{{entity.name}}</h1>
<p>{{entity.description}}</p>

<div class="carousel">
 {% for multimedia in entity.multimedias %}
            {% if  multimedia.tipo == "I" %}
            	 <a href="#"><img src="{{multimedia.path ~ '/' ~ multimedia.fileName}}" id="item-{{multimedia.id}}" /></a>
            {% endif %}
 {% endfor %}
            
 </div>