{% extends 'MuseoFrontendBundle::template.html.twig' %}

{% block javascripts %} 
{% endblock %} 

{% block frontend_content %}
    <script src="{{ asset('bundles/museo/js/frontend/vertical.news.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/museo/js/frontend/jquery.tab.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/frontend/vertical.news.slider.css') }}">
    <script src="{{ asset('bundles/museo/js/frontend/jquery.waterwheelCarousel.min.js') }}" type="text/javascript"></script>
    
   <div id="sala_contenedor">
      
       <div id="lista_salas">
       <table class="table table-bordered table-striped table-hover">
           <thead>
               <tr>
                   <th style='display:none'></th>
                   <th>Salas</th>
               </tr>
           </thead>
           <tbody>
            {% for entity in entities %}
               <tr>
                   <td style='display:none'><input type= "checkbox" value="{{entity.id}}" name="sala_selected" ></td>
                   <td>{{ entity.name }}</a></td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
         </div>
         <div id="contenido_salas">
         
         </div>
    </div>
    
    
    <script type="text/javascript"> 
    $(document).ready(function(){


       //inicializacion de tabs, slide vertical y carousel de miltimedias
      $(".carousel").waterwheelCarousel({
        flankingItems: 1,
        clickedCenter: function ($item) {
          console.log("click on center;");
          return false;
        }
      });
      $('#lista_salas tbody tr').click(function(){
      
          var sala_id = $(this).find("input[type='checkbox']").val();
          
          //Estilos para seleccionar la fila
          $('#lista_salas tbody tr').removeClass('sala_selected');
          $(this).addClass('sala_selected');
          
          $.ajax({
             type: "get",
             url: "{{ path('frontend_sala_details')}}",
             data: {id: sala_id},
             dataType: 'HTML', 
             success: function(html){
             
               $('#contenido_salas').html(html);
              
              $(".carousel").waterwheelCarousel({
                flankingItems: 1,
                clickedCenter: function ($item) {
                  console.log("click on center;");
                  return false;
                }
              });
               loadSlide();
               initialTabs();

             }
          });
          
          return false;
       });
   }) 
    
    </script>         
    
<style>
   #sala_contenedor{
      width:100%;
      height:100%;
    }
    
    #lista_salas{
      width:20%;
      height:100%;
      float:left;
    }
    
    #contenido_salas{
      width:80%;
      height:100%;
      float:left;
    }
    
    .sala_selected{
      background-color: black;
      color: white;
    }

    #lista_salas tbody tr {
      cursor: pointer;
    }
      .carousel {
        width:500px;
        border:1px solid #222;
        height:150px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
      }
      .carousel img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      }
      .news-preview {
        min-height: 480px !important;
      }


</style>
    {% endblock frontend_content %}
    
    
  