{% extends 'MuseoFrontendBundle::template.html.twig' %}

{% block frontend_content %}
  <div id="mySlides">
    <div id="slide1"> 
        <img src="{{ asset('bundles/museo/images/frontend/imagen1.jpg') }}" alt="Slide 1 jFlow Plus" />    
        
  
  </div>      
    <div id="slide2">
         <img src="{{ asset('bundles/museo/images/frontend/imagen2.jpg') }}" alt="Slide 2 jFlow Plus" />    
        
        
    </div>   
  <div id="slide3">
         <img src="{{ asset('bundles/museo/images/frontend/imagen3.jpg') }}" alt="Slide 3 jFlow Plus" />
        
       
    </div>
</div>

<div id="myController">
   <span class="jFlowControl"></span>
   <span class="jFlowControl"></span>
   <span class="jFlowControl"></span>
</div>

<section class="jFlowPrev"><div></div></section>
<section class="jFlowNext"><div></div></section>
<br />
<br />

      {% render controller('MuseoBackendBundle:Noticia:view') %}
    
</div>

 
<br /><br />


{% endblock frontend_content %}

   