{% extends 'MuseoFrontendBundle::template.html.twig' %}

{% block frontend_content %}
  
<div class="box">
           <div class="content">
               <h1> Contactanos</h1


   <br />
            <p>
              <input type="text" name="name" id="name" value="" size="22" />
              <label for="name"></label>
            </p>
            <p>
              <input type="text" name="email" id="email" value="" size="22" />
              <label for="email"></label>
            </p>
            <p>
              <textarea name="comments" id="comments" rows="10"></textarea>
              <label for="comments" style="display:none;"></label>
            </p>
            <p>
              <input name="submit" type="submit" id="submit" value="Submit Form" /> 
              
              <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
            </p>
          </form>

      </div>
      
    

      
      
      <div class="clear"></div>
    </div>  
  
{% endblock frontend_content %}
    
    
  