{% extends 'MuseoFrontendBundle::template.html.twig' %}
{% block javascripts %} 
{% endblock javascripts %}

{% block frontend_content %}

<p> Desplace y ordene como desee las salas del museo para realizar un paseo virtual y difrute de las maravillas del museo desde el living de su casa.</p>
<form action="{{ path('frontend_PaseoVirtualView') }}" method="POST">
  <div id="select_languaje">
    Seleccione un lenguaje para escuchar la guia a travez de las salas
    <select id="language" name="languaje">
      <option value="en">Ingles</option>
      <option value="es">Español</option>
    </select>
  </div>
  <div id="paseo_content">
    <ul id="sortable1" class="connectedSortable">
      {% for entity in entities %}
           <li class="ui-state-default" id="{{ entity.id }}">{{ entity.name }}</li>
        {% endfor %}
    </ul>
     
    <ul id="sortable2" class="connectedSortable">
      <li class="null_element">Drop Here</li>
    </ul>
  </div>

  <input type="hidden" id="selected_salas" name="salas">
  <div class="form-actions">
            <input type="submit" value="Inicio Recorrido" onclick="return start_trip()"> 
  </div>
</form>

   
<style>
  #sortable1, #sortable2 { 
    list-style-type: none; 
    margin: 0; 
    padding: 0 0 2.5em; 
    float: left; 
    margin-right: 10px; 
    width:45%;
    height: 100%;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    cursor: move;
  }
  #sortable1{
    margin-left: 40px;
  }
  #sortable1 li, #sortable2 li { 
    margin: 5px; 
    padding: 5px; 
    font-size: 1.2em; 
  }
  .null_element{
    border-style:dashed;
    border-width: 2px;
  }
  .marco{
    text-align: center !important;
  }

  .marco p {
    margin-bottom: 30px;
  }

  #paseo_content {
    height: 150px;
  }

  #select_languaje , .form-actions{
    padding:10px;
  }
  .form-actions{
    display: inline-block;
  }
  </style>    
  <script>
  $(function() {
    $("#sortable1").sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
    $(" #sortable2").sortable({
      connectWith: ".connectedSortable",
      cancel: ".null_element" 
    });
  });

  function start_trip(){
    var salas = Array();

    $('#sortable2 li[class!="null_element"]').each(function(i,elem){
      salas[i] = $(this).attr('id');
    });
    
    if (salas.length == 0){
      alert("Atencion: Debe seleccionar al menos una sala.");
      return false;
    }
    $('#selected_salas').val(salas.join());
  }
  </script>
 
{% endblock frontend_content %}
