<html>
    <head>
        <title>Paseo Virtual</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/museo/css/frontend/paseoVirtual.css') }}" />
        <script src="{{ asset('bundles/museo/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/museo/js/frontend/jplayer/jquery.jplayer.js') }}"></script>
		<script src="{{ asset('bundles/museo/js/frontend/jquery.audioslideshow.js') }}"></script>
		<script src="{{ asset('bundles/museo/js/frontend/jquery.slide.tab.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
			<header>
				<h2>Paseo Virtual</h2>
			</header>

			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="frame oneperframe" id="oneperframe">
				<ul class="clearfix">
					{% for entity in entities %}

						{% set file = files[entity.name] %}
						<li>
							<div id="sala">
								<p>{{entity.name}}</p>
								<div class="audio-slideshow" data-audio="{{ file.url_path ~ '/' ~ file.audio }}">
									<div class="audio-slides">
				
										{% for key,image in file.images  %}
							            	<img class="image" src="{{ file.url_path ~ '/' ~ image }}?zz=1" data-thumbnail="{{ file.url_path ~ '/' ~ image }}" data-slide-time="{{key * (file.audio_data.Length // file.images | length)}}">
							        	{% endfor %}			            
							        
									</div>
									<div class="audio-control-interface">
										<div class="play-pause-container">
											<a href="javascript:;" class="audio-play" tabindex="1">Play</a>
											<a href="javascript:;" class="audio-pause" tabindex="1">Pause</a>
										</div>
										<div class="time-container">
											<span class="play-time"></span> / <span class="total-time"></span>
										</div>
										<div class="timeline">
											<div class="timeline-controls"></div>
											<div class="playhead"></div>
										</div>
										<div class="jplayer"></div>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="controls center">
				<button class="btn prev" ><i class="icon-chevron-left"></i> prev</button>
				<button class="btn next">next <i class="icon-chevron-right"></i></button>
			</div>
        </div>
        <script type="text/javascript">
			$(document).ready(function() {
				$('.audio-slideshow').audioSlideshow();
			});
			
			$(document).ready(function () {
				var $frame = $('#oneperframe');
				var $wrap  = $frame.parent();

				// Call Sly on frame
				$frame.sly({
					horizontal: 1,
					itemNav: 'forceCentered',
					smart: 1,
					activateMiddle: 1,
					mouseDragging: 1,
					touchDragging: 1,
					releaseSwing: 1,
					startAt: 0,
					scrollBar: $wrap.find('.scrollbar'),
					scrollBy: 0,
					speed: 300,
					elasticBounds: 1,
					dragHandle: 1,
					dynamicHandle: 1,
					clickBar: 1,
		
					// Buttons
					prev: $wrap.find('.prev'),
					next: $wrap.find('.next')
				});
			});
		</script>
    </body>
</html>

