 <div class="news-holder cf">

    <ul class="news-headlines">
     {% for entity in entities %}
           <li>{{ entity.name }}</li>
      {% endfor %}
    </ul>

    <div class="news-preview">
    {% for entity in entities %}
      <div class="news-content top-content">
          <ul class='tabs'>
            {% for element in entity.elements %}
                  <li><a href='#tab{{element.id}}'>{{ element.name }}</a></li>
            {% endfor %}
            
             {% for element in entity.elements %}
                     <div id='tab{{element.id}}'>
                        {% render controller('MuseoFrontendBundle:Default:elementDetails', { 'element_id': element.id }) %}
                     </div>
            {% endfor %}
         </ul>
      </div><!-- .news-content -->
     {% endfor %}
    </div><!-- .news-preview -->
  </div><!-- .news-holder -->
  
<style>
			.tabs li {
				list-style:none;
				display:inline;
			}

			.tabs li a {
				padding:5px 10px;
				display:inline-block;
				background:#666;
				color:#fff;
				text-decoration:none;
			}

			.tabs li a.active {
				background:#fff;
				color:#000;
			}

</style>
  