                {%- for action in record_actions %}
                       <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}">
                    	{% if action == "show" %}
    						<i class="icon-eye-open"></i>
						{% else %}
							<i class="icon-edit"></i>
						{% endif %}	 
                		</a>
                {%- endfor %}