<div class="top-menu">
    	<a class="btn btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit ", { 'id': entity.id }) }}" }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a class="btn btn-danger" href="{{ "{{ path('" ~ route_name_prefix ~ "_delete", { 'id': entity.id }) }}" }}"><i class="icon-remove icon-white"></i>Delete</a>
</div>