{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('user') }}">Users</a><div class="breadcrumb_divider">|</div><a class="current">Edit</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
    <h1>User edit</h1>

    <form class="form-horizontal well" action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
         <div class="form-actions">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </form>
{% endblock backend_content%}
