{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a class="current">Users</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
    <h1>User list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            	<td>{{ entity.name }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': entity.id }) }}" title="show"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" title="edit"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock backend_content %}
