{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('user') }}">Users</a><div class="breadcrumb_divider">|</div><a class="current">Show</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a id="delete_action_link" class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> Delete</a>
	</div>

    <h1>User</h1>

    <table class="detail-view table table-condensed">
        <tbody>
        	<tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

<div id="delete_action_form" title="Delete User">
	<p>Esta seguro que desea eliminar al usuario {{ entity.lastname }} {{ entity.name }}?</p>
   <form id="delete_form" action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
       <input type="hidden" name="_method" value="DELETE" />
          {{ form_widget(delete_form) }}
   </form>
</div>

<script type="text/javascript">
$( "#delete_action_form" ).dialog({
    autoOpen: false,
    width: 500,
    modal: true,
    buttons: {
      "Delete": function() {
        $("#delete_form").submit();
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });

	$( "#delete_action_link" ).click(function() {
  		$( "#delete_action_form" ).dialog( "open" );
  		return false;  		
	});
</script>
{% endblock backend_content%}
