{% block extends %}
{{ "{% extends 'MuseoBackendBundle::template.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block backend_content %}" }}
    <h1>{{ entity }} edit</h1>

    <form class="form-horizontal well" action="{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ "{{ form_widget(edit_form) }}" }}
        <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="Edit" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>

    {% set hide_edit, hide_delete = true, false %}
{{ "{% endblock backend_content %}" }}
{% endblock body %}
