{% block extends %}
{{ "{% extends 'MuseoBackendBundle::template.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block backend_content %}" }}
    <h1>{{ entity }} creation</h1>

    <form class="form-horizontal well" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
         <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="Create" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>

    {% set hide_edit, hide_delete = true, true %}
{{ "{% endblock backend_content%}" }}
{% endblock body %}
