{% block extends %}
{{ "{% extends 'MuseoBackendBundle::template.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block backend_content %}" }}
	{% include 'crud/views/others/top_actions.html.twig.twig' %}
    <h1>{{ entity }}</h1>

    <table class="detail-view table table-condensed">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>

    {% set hide_edit, hide_delete = false, false %}
{{ "{% endblock backend_content%}" }}
{% endblock body %}
