{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
    <h1>Element list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_element_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>                       <a href="{{ path('backend_element_show', { 'id': entity.id }) }}">
                    	    						<i class="icon-eye-open"></i>
							 
                		</a>                       <a href="{{ path('backend_element_edit', { 'id': entity.id }) }}">
                    								<i class="icon-edit"></i>
							 
                		</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock backend_content %}
