{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
    <h1>Element creation</h1>

    <form class="form-horizontal well" action="{{ path('backend_element_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
         <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="Create" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>

    {% endblock backend_content%}
