{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('backend_element_edit' , { 'id': entity.id }) }}">
            <i class="icon-edit icon-white"></i> Edit</a>
		<a class="btn btn-danger" href="{{ path('backend_element_delete', { 'id': entity.id }) }}">
            <i class="icon-remove icon-white"></i>Delete</a>
    </div>    
    <h1>Element</h1>

    <table class="detail-view table table-condensed">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ entity.zone.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="#" id="create-multimedia">
            <i class="icon-plus icon-white"></i> Añadir Multimedia</a>

    <div id="multimedias">
     {% render controller('MuseoBackendBundle:Multimedia:index', { 'element_id': entity.id }) %}
    </div>

     <div id="create_multimedia_modal" style="display:none" title="Create new Multimedia">
     {% render controller('MuseoBackendBundle:Multimedia:new', { 'element_id': entity.id}) %}
    </div>

    <script type="text/javascript">

        $(function(){
            $( "#create_multimedia_modal" ).dialog({
              autoOpen: false,
              height: 380,
              width: 675,
              modal: true,
              close: function() {
                console.log("Limpiar fomularios");
              }
            });
 
        $( "#create-multimedia" )
          .click(function() {
            $( "#create_multimedia_modal" ).dialog( "open" );
          });

          $("#close_multimedia_modal").
          click(function(){
            $( "#create_multimedia_modal" ).dialog( "close" );
          })

        })
    </script>

    {% endblock backend_content%}



   