<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Dashboard I Admin Panel</title>
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/backend/custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/backend/layout.css') }}" />    
    <link rel="stylesheet" href="{{ asset('bundles/museo/css/jquery-ui.css') }}" />  

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{ asset('bundles/museo/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/museo/js/jquery-ui.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/museo/js/backend/hideshow.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/museo/js/backend/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ asset('bundles/museo/js/backend/jquery.equalHeight.js') }}"></script>
	<script type="text/javascript">

		$(document).ready(function() {
		
			//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content
		
			//On Click Event
			$("ul.tabs li").click(function() {
		
				$("ul.tabs li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});

			$(".tablesorter").tablesorter(); 
		
		});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="{{ path('museo_backend_default_index') }}">Website Admin</a></h1>
			<h2 class="section_title">Dashboard</h2><div class="btn_view_site"><a href="{{ path('fos_user_security_logout') }}">Logout</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
			<p>John Doe (<a href="#">3 Messages</a>)</p>
		</div>
		<div class="breadcrumbs_container">
			{% block breadcrumbs %}
            	<article class="breadcrumbs"><a class="current">Dashboard</a></article>
			{% endblock breadcrumbs %}
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<h3 class="icon-user"> Users</h3>
			<ul class="toggle">
				<li class="icon-plus-sign {{ (app.request.attributes.get('_route') == 'fos_user_registration_register') ? 'selected' : '' }}"><a href="{{ path('fos_user_registration_register') }}">Nuevo Usuario</a></li>
				<li class="icon-list {{ (app.request.attributes.get('_route') == 'user') ? 'selected' : '' }}"><a href="{{ path('user') }}">Ver Usuarios</a></li>
			</ul>
		{% endif %}
		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<h3 class="icon-camera-retro"> Salas</h3>
			<ul class="toggle">
				<li class="icon-plus-sign {{ (app.request.attributes.get('_route') == 'backend_sala_new') ? 'selected' : '' }}"><a href="{{ path('backend_sala_new') }}">Nueva Sala</a></li>
				<li class="icon-list {{ (app.request.attributes.get('_route') == 'backend_sala') ? 'selected' : '' }}"><a href="{{ path('backend_sala') }}">Ver Salas</a></li>
			</ul>
		{% endif %}
		<h3 class="icon-picture"> Zonas</h3>
		<ul class="toggle">
			<li class="icon-plus-sign {{ (app.request.attributes.get('_route') == 'backend_zone_new') ? 'selected' : '' }}"><a href="{{ path('backend_zone_new') }}">Nueva Zona</a></li>
			<li class="icon-list {{ (app.request.attributes.get('_route') == 'backend_zone') ? 'selected' : '' }}"><a href="{{ path('backend_zone') }}">Ver Zonas</a></li>
		</ul>
		<h3 class="icon-puzzle-piece"> Elementos</h3>
		<ul class="toggle">
			<li class="icon-plus-sign {{ (app.request.attributes.get('_route') == 'backend_element_new') ? 'selected' : '' }}"><a href="{{ path('backend_element_new') }}">Nuevo Elemento</a></li>
			<li class="icon-list {{ (app.request.attributes.get('_route') == 'backend_element') ? 'selected' : '' }}"><a href="{{ path('backend_element') }}">Ver Elementos</a></li>
		</ul>
      <h3 class="icon-puzzle-piece"> Noticias</h3>
		<ul class="toggle">
			<li class="icon-plus-sign {{ (app.request.attributes.get('_route') == 'noticia_new') ? 'selected' : '' }}"><a href="{{ path('noticia_new') }}">Nueva Noticia</a></li>
			<li class="icon-list {{ (app.request.attributes.get('_route') == 'noticia') ? 'selected' : '' }}"><a href="{{ path('noticia') }}">Ver Noticias</a></li>
		</ul>
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
			<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
		</footer>

	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		{% if alert is defined %}
			<h4 class="alert_info">{{ alert }}</h4>
		{% endif %}

		<div id="content">
            {% block backend_content %}
            {% endblock backend_content %}
        </div>
	</section>

     
</body>

</html>