{% extends "MuseoBackendBundle::template.html.twig" %}

{% form_theme form 'MuseoBackendBundle:Form:fields.html.twig' %}

{% block breadcrumbs %}
	<article class="breadcrumbs"><a href="{{ path('museo_backend_default_index') }}">Dashboard</a><div class="breadcrumb_divider">|</div><a href="{{ path('user') }}">Users</a><div class="breadcrumb_divider">|</div><a class="current">Create</a></article>
{% endblock  breadcrumbs %}

{% block backend_content %}
<form class="form-horizontal well" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
        <button type="reset" class="btn">Cancel</button>
    </div>
</form>
{% endblock backend_content %}
