


<!DOCTYPE html>
<title>Museo Municipal</title>
<meta charset="utf-8" />
<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->

<script src="" type="text/javascript"></script>
<link rel="stylesheet" href="{{ asset('bundles/museo/css/frontend/main.css') }}" />
<script src="{{ asset('bundles/museo/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/museo/js/jquery-ui-sortable.min.js') }}" type="text/javascript"></script>

<link rel="stylesheet" href="{{ asset('bundles/museo/css/jquery-ui.css') }}" />  

{% block javascripts %} 
    <script src="{{ asset('bundles/museo/js/frontend/elegant-press.js') }}" type="text/javascript"></script>
{% endblock %} 

</head>
<body>
<div class="main-container">
  <header>
    <h1><a href="index.html">Museo Nacional</a></h1>
    <p id="tagline"><strong>Ciudad De la Plata</strong></p>
  </header>
</div>
<div class="main-container">
  <div id="sub-headline">
    <div class="tagline_left"><p id="tagline2">Tel: 0800-Museo | Mail: <a href="mailto:email@website.com">museomunicipal@municipalidad.com</a></p></div>
   
    <br class="clear" />
  </div>
</div>
<div class="main-container">
  <div id="nav-container">
   <nav> 
    <ul class="nav">
      <li><a href="{{ path('frontend_Home') }}">Inicio</a></li>
      <li><a href="{{ path('frontend_about') }}">Nosotros</a></li>
      <li><a href="{{ path('frontend_exposiciones') }}">Exposiciones</a></li>
      <li><a href="{{ path('frontend_PaseoVirtual') }}">Paseo virtual</a></li>   
      <li><a href="{{ path('frontend_comollegar') }}">Como Llegar</a></li>
      <li><a href="{{ path('frontend_mailcontact') }}">Contacto</a></li>
    </ul>
   </nav> 
    <div class="clear"></div>
  </div>
</div>
<div class="main-container marco">
	<div class="container1">
      {% block frontend_content %}
      {% endblock frontend_content %}
    </div>
    <br /><br />
</div>

 <div class="footer">
    <p class="tagline_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="tagline_right">Design by <a href="http://www.priteshgupta.com/" title="Pritesh Gupta" target="_blank" >JuanYFer Design</a></p>
   
    
    <br class="clear" />
    
  </div>

<br />
<br />

    </body>
</html>


