{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
    <h1>Noticia list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Texto</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('noticia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.texto }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>                       <a href="{{ path('noticia_show', { 'id': entity.id }) }}">
                    	    						<i class="icon-eye-open"></i>
							 
                		</a>                       <a href="{{ path('noticia_edit', { 'id': entity.id }) }}">
                    								<i class="icon-edit"></i>
							 
                		</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock backend_content %}
