{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('noticia_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a class="btn btn-danger" href="{{ path('noticia_delete', { 'id': entity.id }) }}"><i class="icon-remove icon-white"></i>Delete</a>
</div>    <h1>Noticia</h1>

    <table class="detail-view table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {% endblock backend_content%}
