

{% block backend_content %}
         
        <article class="box" id="home_featured21">
      <div class="block"><h2>{{ entities[0].titulo }}</h2>
        <p>
            
            <tr>
                
                <td>{{ entities[0].texto }}</td>
                
            </tr>
     
           
        </p>
      </div>
      <div class="block"><h2>{{ entities[1].titulo }}</h2>
       
        <p>
            
            <tr>
                
                <td>{{ entities[1].texto }}</td>
                
            </tr>
      
           
        </p>
        
        
        
        


      </div>
      <div class="block last"><h2>{{ entities[2].titulo }}</h2>
      <p>
           
            <tr>
                
                <td>{{ entities[2].texto }}</td>
                
            </tr>
     
           
        </p>
        
      </div>
      
      <br />
      <br />
         
      <div class="clear"></div>
    </article>

 {% endblock backend_content%}
