<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Internet Dreams</title>
<link rel="stylesheet" href="{{ asset('bundles/museo/css/backend/login.css') }}" type="text/css" media="screen" title="default" />
<!--  jquery core -->
<script src="{{ asset('bundles/museo/js/jquery-1.9.1.js') }}" type="text/javascript"></script>

<!-- Custom jquery scripts 
<script src="js/jquery/custom_jquery.js" type="text/javascript"></script>
-->

<script type="text/javascript">
$(document).ready(function(){
	$(".back-login").click(function () {
		$("#loginbox").show();
		$("#forgotbox").hide();
		return false;
	});

	$(".forgot-pwd").click(function () {
		$("#loginbox").hide();
		$("#forgotbox").show();
		return false;
	});
});
</script>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">
	{% if error %}
   		<div>{{ error|trans }}</div>
	{% endif %}
	<!-- start logo -->
	<div id="logo-login">
		<a href="index.html"><img src="images/shared/logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<table border="0" cellpadding="0" cellspacing="0">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<tr>
				<th><label for="username">{{ 'security.login.username'|trans }}</label></th>
				<td><input type="text" id="username" class="login-inp" name="_username" required="required"/></td>
			</tr>
			<tr>
				<th><label for="password">{{ 'security.login.password'|trans }}</label></th>
				<td><input type="password" id="password" class="login-inp" name="_password" required="required"/></td>
			</tr>
			<tr>
				<th></th>
				<td valign="top"><input type="checkbox" class="checkbox-size" id="remember_me" name="_remember_me"/><label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></td>
			</tr>
			<tr>
				<th></th>
				<td><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="submit-login"/></td>
			</tr>
			</table>
		</form>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	<a href="" class="forgot-pwd">Forgot Password?</a>
 </div>
 <!--  end loginbox -->
 
	<!--  start forgotbox ................................................................................... -->
	<div id="forgotbox">
		<div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
		<!--  start forgot-inner -->
		<div id="forgot-inner">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Email address:</th>
			<td><input type="text" value=""   class="login-inp" /></td>
		</tr>
		<tr>
			<th> </th>
			<td><input type="button" class="submit-login"  /></td>
		</tr>
		</table>
		</div>
		<!--  end forgot-inner -->
		<div class="clear"></div>
		<a href="" class="back-login">Back to login</a>
	</div>
	<!--  end forgotbox -->

</div>
<!-- End: login-holder -->
</body>
</html>