{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }} 
        <div class="controls">
        	{{ form_widget(form) }}
        	<span class="help-inline">{{ form_errors(form) }}<span>
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}