.form-horizontal .control-label {
	width: 215px !important;  
	padding-right: 15px;
}

.well{
	background-color: #F8F8F8;
}

#content{
	padding: 5px;
}

table a{
	text-decoration: none !important;
	color: black !important;
	font-size: 16px !important;
}

.top-menu{
	background-color: #E0E0E3;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px; 
    border-radius: 6px;
}

.btn{
	padding: 4px 40px !important;
	color: white !important;	
}
li[class^="icon-"], li[class*=" icon-"]{
	display: block;
}

li[class*=" selected"] {
	background-color: silver;
	padding-left: 20px !important;
	margin-right: 20px !important;
	border-radius: 5px;
	color: black !important;
}

li[class*=" selected"] a {
	color: black !important;
}
