    <h1>Multimedia list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
                <th>Tipo</th>
                <th>Idioma</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.getMultimediaRow | raw }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.idioma }}</td>
                <td>                       <a href="{{ path('backend_multimedia_show', { 'id': entity.id }) }}">
                    	    						<i class="icon-eye-open"></i>
							 
                		</a>                       <a href="{{ path('backend_multimedia_edit', { 'id': entity.id }) }}">
                    								<i class="icon-edit"></i>
							 
                		</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>