<style>
.form-horizontal .controls {
	margin-left: 235px;
}
.well{
	padding:10px;
}

</style>

<form class="form-horizontal well" id="multimedia_form" action="{{ path('backend_multimedia_create') }}" method="post">
    


	<div class="control-group">
	    <label class="control-label required" for="museo_backendbundle_multimediatype_fileName">File</label>
	    <div class="controls">
	    	<span id="spanButtonPlaceHolder"></span>
	    	<div class="fieldset flash" id="fsUploadProgress">
			</div>
			<div id="divStatus"></div>
	        <input type="hidden" id="museo_backendbundle_multimediatype_fileName" name="museo_backendbundle_multimediatype[fileName]" required="required" maxlength="128">
	        <span class="help-inline"></span>
	    </div>
	</div>

	<div class="control-group" style="display:none">
	    <label class="control-label required" for="museo_backendbundle_multimediatype_idioma">Idioma</label>
	    <div class="controls">
	    	<select id="museo_backendbundle_multimediatype_idioma" name="museo_backendbundle_multimediatype[idioma]">
	    		<option value="en">English</option>
	    		<option value="es">Spanish</option>
	    		<option value="fr">France</option>
	    	</select>
	        <span class="help-inline"></span>
	    </div>
	</div>
   
   	<div class="control-group">
	    <label class="control-label required" for="museo_backendbundle_multimediatype_description">Description</label>
	    <div class="controls">
	    	<textarea id="museo_backendbundle_multimediatype_description" name="museo_backendbundle_multimediatype[description]" required="required" maxlength="256"></textarea>
	        <span class="help-inline"></span>
	    </div>
	</div>

    <input type="hidden" id="museo_backendbundle_multimediatype_elemento_id" value="{{ element_id }}" name="museo_backendbundle_multimediatype[elemento_id]">
     <div class="form-actions" >
        <input type="buttom" class="btn btn-primary" value="Create" onclick="submitForm()"/>
        <button type="reset" class="btn" id="close_multimedia_modal">Cancel</button>
	</div>
</form>

<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/swfupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/swfupload.queue.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/fileprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/museo/js/SWFupload/handlers.js') }}"></script>

<script type="text/javascript">

	function submitForm(){
		$.ajax({
		 type: "POST",
		  url: $("#multimedia_form").attr("action"),
 		 data: $("#multimedia_form").serializeArray(),
 		 dataType: "html",
 		 success:function(html){
 		 	$("#multimedias").html(html);
 		 	$( "#create_multimedia_modal" ).dialog( "close" );
 		 }
		});

	}


//Configuracion del plugin para subir archivos a los elementos.
var swfu;

		window.onload = function() {
			var settings = {
				flash_url : "{{ asset('bundles/museo/js/SWFupload/swfupload.swf') }}",
				upload_url: "{{ path('backend_multimedia_upload',{ 'element_id': element_id }) }}",
				file_size_limit : "100 MB",
				file_types : "*.MP3;*.MP4;*.mp4;*.mp3;*.JPG;*.JPEG;*.jpg;*.jpeg",
				file_types_description : "All Files",
				file_upload_limit : 100,
				file_queue_limit : 0,
				custom_settings : {
					progressTarget : "fsUploadProgress",
					cancelButtonId : "btnCancel"
				},
				debug: false,
				//upload_path: "{{ asset('bundles/museo/images/salas/') }}{{ sala_name }}",
				upload_path: "/bundles/museo/images/salas/{{ sala_name }}/",
				// Button settings
				button_image_url: "images/TestImageNoText_65x29.png",
				button_width: "65",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder",
				button_text: '<span class="theFont">UpLoad</span>',
				button_text_style: ".theFont { font-size: 12; }",
				button_text_left_padding: 12,
				button_text_top_padding: 3,
				
				// The event handler functions are defined in handlers.js
				file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_start_handler : uploadStart,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,
				queue_complete_handler : queueComplete	// Queue plugin event
			};

			swfu = new SWFUpload(settings);
	     };
</script>


