{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('backend_multimedia_edit , { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a class="btn btn-danger" href="{{ path('backend_multimedia_delete, { 'id': entity.id }) }}"><i class="icon-remove icon-white"></i>Delete</a>
</div>    <h1>Multimedia</h1>

    <table class="detail-view table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.fileName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ entity.idioma }}</td>
            </tr>
        </tbody>
    </table>

    {% endblock backend_content%}
