{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
    <h1>Zone edit</h1>

    <form class="form-horizontal well" action="{{ path('backend_zone_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <div class="form-actions">
	        <input type="submit" class="btn btn-primary" value="Edit" />
	        <button type="reset" class="btn">Cancel</button>
   		</div>
    </form>
{% endblock backend_content %}
