{% extends 'MuseoBackendBundle::template.html.twig' %}

{% block backend_content %}
	<div class="top-menu">
    	<a class="btn btn-info" href="{{ path('backend_zone_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i> Edit</a>
		<a class="btn btn-danger" href="{{ path('backend_zone_delete', { 'id': entity.id }) }}"><i class="icon-remove icon-white"></i>Delete</a>
</div>    <h1>Zone</h1>

    <table class="detail-view table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    {% endblock backend_content%}
